


@import url('https://fonts.googleapis.com/css?family=Monda');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


#logo {
  padding-left: 25px;
  width: 320px;
}

#header {
  /*background-color: #DFE;
  background-image: url(largeshroombg.jpg), url(neon-mushrooms-pattern.jpg);
  background-position: top, bottom;
  background-repeat: repeat-x;
  background-size: 35px; */
  border-bottom: white 10px solid; 
  margin-bottom: 50px; 
  padding-top: 50px;
  padding-bottom: 40px; 
  text-align: center; 
    background-image: url(blue_neon3c.png);
    background-repeat: repeat-x;
}

body {
  background-color: black;
    background-image: url(neon-mushrooms-pattern2.jpg);
  color: #2A8;
  font-family: 'Monda', sans-serif;
  margin: 0;
    padding-bottom: 50px;
    
}

h1 {
  color: #ca38cc;
  font-family: 'Covered By Your Grace', 'Yellowtail', cursive;
  font-size: 3em;
  margin: 0;
}

h2 {
  color: #18dad6;
  font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 40px;
}

a {
  color: #000;
  text-decoration: none;
}

/****************************//****************************//****************************/

/*#menu {
  background-color: #000000EE;
  /*background-size: 46px; 
  border-bottom: #5DA 10px solid;
  border-top: #5DA 4px solid;
  display: grid;
  margin: auto;
  max-width: 1140px;
  padding: 20px 0;
  padding-bottom: 2.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
} */

#backdrop1 {
    background-color: #000000EE;
    border-bottom: #5DA 7px solid;
    border-top: #5DA 7px solid;
    border-left: #5DA 7px solid;
    border-right: #5DA 7px solid;
    padding: 20px 0;
    padding-bottom: 15%;
    text-align: center;
    max-width: 1140px;
    margin: auto;
}

#backdrop2 {
    background-color: #000000EE;
    border-bottom: #5DA 7px solid;
    border-left: #5DA 7px solid;
    border-right: #5DA 7px solid;
    border-top: #5DA 7px solid;
    padding: 20px 0;
    padding-bottom: 50%;
    text-align: center;
    max-width: 1140px;
    margin: auto;
    max-height: 250px;
}


.images {
    padding-right: 45%;
}


.shape {
    position: absolute;
} 

/* descendant selectors */

#menu h1 {
  grid-column: span 3;
  padding-bottom: 0.3em;
  text-align: center;
}

#menu h2 {
  margin-top: 0.5em;
  text-align: center;
}


#menu .shape {
  float: center;
  padding-right: 1em;
 
}

#menu div {
  margin: 0 1em;
}


#menu div:nth-child(3) {
  border-bottom: 3px solid #2A8;
  border-top: 3px solid #5DB;
}

/* media query */

@media only screen and (min-width: 720px) {

  #menu div {
    
    margin: 0;
  }

  #menu div:nth-child(3) {
    border: none;
    border-left: 3px solid #2A8;
    border-right: 3px solid #2A8;
  }
    /****************************//****************************/

.btn-green {
    background-color: #00cfff;
    border: 5px solid #008BBB;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    padding: 0 10px 2px 10px;
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.btn-green:hover {
    color: greenyellow;
    background-color: #18dad6;
    text-decoration: none;
    transition: background-color 0.5s;
    transition: color 0.5s;
  }
    
    #again {
        padding-top: 45%;
        margin:auto;
        
        
        
    }  
    
  /* .footer {
        text-align: center;
        padding-top: 50%;
    } */

