

{% extends "base.html" %}

{% block title %}Shrooms?{% endblock %}

{% block content %}
    <div id="header">

      <img src="{{ url_for('static', filename='shroom_logo9.png') }}" id="logo" />
      <h1>Shroom Generator</h1>
      <em>SHROOMS &bull; Shrooms &bull; shrooms</em>


    </div>

    <div id="menu">

      
        
        <h2>Personalised Mushrooms</h2>
      <em>Need a mushroom?</em>
        
      <p>
        <a class="btn-green" href="{{ url_for('myshroom') }}">Generate Now</a>
      </p> 
        
          
        
        
    <div class="footer">
        <div class="container-fluid">
            <p>Footer...................... </p>
            
       </div> 
    </div> 

      

    </div>
{% endblock %}
