{% extends "base.html" %}

{% block title %}Shrooms?{% endblock %}

{% block content %}
    <div id="header">

      <img src="{{ url_for('static', filename='shroom_logo9.png') }}" id="logo" />
      <h1>Welcome!</h1>
      <em>SHROOMS &bull; Shrooms &bull; shrooms</em>


    </div>

    <div id="menu">

      <h1>Your Shroom</h1>
        
        
        
    

      <div>
        
        <div class="result">
          {% for mushroom in mushroomsdata %}
          <!--<li>{{ mushroom[0] }} <span class="shape">{{ mushroom[1].png }}</span></li>
            <li>{{ mushroom[1] }} <span class="shape">{{ mushroom[2] }}</span></li>
            <li>{{ mushroom[11] }} <span class="shape">{{ mushroom[3] }}</span></li>-->
            
            <h2 style="font-family: cursive">{{ mushroom[10] }}
            {{ mushroom[2] }}
            {{ mushroom[0] }}
            {{ mushroom[4] }}</h2>
            
            <div class="images">
                <span class="shape"><img src="static/{{ mushroom[0] }}.png"> </span>

                <span class="shape"><img src="static/{{ mushroom[11] }}.png"></span>

                <span class="shape"><img src="static/{{ mushroom[1] }}.png"></span>

                <span class="shape"><img src="static/{{ mushroom[8] }}.png">

                </span>
            </div>
            
            
            
            
          {% endfor %}
        </div>


      </div>

    </div>
{% endblock %}